#Configurações do Servidor
PORT=3001

#Configurações do Banco de Dados
DB_SERVER=localhost\\SQLEXPRESS
DB_DATABASE=pratica_db
DB_PORT=1433
DB_TRUSTED_CONNECTION=true
DB_TRUST_SERVER_CERTIFICATE=true

#Configurações do Administrador
ADMIN_EMAIL=
ADMIN_PASSWORD=